<!doctype HTML>
<head>
    <title>CrowdPlay</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script type="text/javascript" src="js/crowdplay.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/eden.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    body {
        background: #FF5F6D; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    }
    p, h1, h2, h3, h4, h5, label {
        color: white;
    }
    </style>
</head>

<body ng-app="crowdPlay">
    <div class="container" ng-controller="loginController">
        <h1 class="text-center">CrowdPlay</h1>
        <br/>
        <br/>
        <div class="row">
            <span class="col-sm-4"></span>
            <form class="col-sm-4">
                <div class="form-group">
                    <label for="joinChannel">Join Existing Channel</label>
                    <input type="text" class="form-control" ng-model="joinChan" id="channelJoiner" placeholder="OVOChannel" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="joinChannel(joinChan)">Join</button>
            </form>
        </div>
        <br/>
        <br/>
        <div class="row">
            <span class="col-sm-4"></span>
            <form class="col-sm-4">
                <div class="form-group">
                    <label for="joinChannel">Create New Channel</label>
                    <input type="text" class="form-control" id="channelJoiner" ng-model="createChan" placeholder="TDEChannel" required>
                </div>
                <button type="submit" class="btn btn-danger" ng-click="createChannel(createChan)">Create</button>
            </form>
        </div>
    </div>
</body>